policy_module(os-certmonger,0.1)

gen_require(`
  type certmonger_t;
  type container_runtime_tmpfs_t;
  type puppet_etc_t;
')

# rhbz#1777263
allow certmonger_t puppet_etc_t:dir search;
read_files_pattern(certmonger_t, puppet_etc_t, puppet_etc_t)

# rhbz#1777368
container_runtime_exec(certmonger_t)
container_admin(certmonger_t)
rw_files_pattern(certmonger_t, container_runtime_tmpfs_t, container_runtime_tmpfs_t)
